In [1]:
import os
from os import path
import pandas as pd

In [2]:
base  = path.join('..', 'processed', '1-covid')

files = sorted(f for f in os.listdir(base) if f.endswith('.csv'))

files

['chaos-game-theory_r1.csv',
 'chaos-game-theory_r4.csv',
 'complex-network-k3l10.csv',
 'fourier-class-r5.csv',
 'mapping-class_r1.csv',
 'mapping-class_r2.csv',
 'shannon-entropy-k12.csv']

In [13]:
%%time

index = 0

print(files[index])
frame = pd.read_csv(path.join(base,files[index]), header=None)

if frame.iloc[0,0] == "nameseq":
    frame.drop(labels=0, axis=0, inplace=True)

print(frame.shape)

frame.head()

chaos-game-theory_r1.csv
(1717, 61638)
CPU times: user 2min 19s, sys: 6.19 s, total: 2min 25s
Wall time: 2min 25s

,0,1,2,3,4,5,6,7,8,9,...,61628,61629,61630,61631,61632,61633,61634,61635,61636,61637
0,MN369046,0.5,-0.25,0.375,-0.3125,-0.65625,0.171875,-0.414062,0.292969,-0.353516,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,MN306046,-0.5,-0.75,-0.875,0.0625,0.53125,0.765625,0.882812,0.941406,0.970703,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,MF542265,0.5,0.75,-0.125,-0.5625,-0.78125,-0.890625,0.054688,0.527344,0.763672,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,KY983587,-0.5,-0.75,-0.875,-0.9375,0.03125,0.515625,0.757812,-0.121094,0.439453,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,KY621348,-0.5,-0.75,0.125,0.5625,-0.21875,0.390625,-0.304688,-0.652344,0.173828,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [17]:
frame.info(max_cols=10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1717 entries, 1 to 1717
Columns: 21 entries, 0 to 20
dtypes: object(21)
memory usage: 295.1+ KB

In [18]:
(61638 - 2) / 2

30818.0

In [19]:
%%time

index = 1

print(files[index])
frame_r2 = pd.read_csv(path.join(base,files[index]), header=None)

if frame_r2.iloc[0,0] == "nameseq":
    frame_r2.drop(labels=0, axis=0, inplace=True)

print(frame_r2.shape)

frame_r2.head()

chaos-game-theory_r4.csv
(1717, 21)
CPU times: user 24 ms, sys: 0 ns, total: 24 ms
Wall time: 23.1 ms

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
1,MN369046,0.001427316902285762,0.00019796854958993132,22.960556243113697,3.0382742984358906e-09,6321651.474560562,485164.7550787921,0.13955497995149332,0.1395575577867794,4.257070405566334e-05,...,0.00019796854958993132,0.0004947123682197592,22.960556240075423,0.019476311935410266,0.000418378176043848,0.000209189088021924,97.77434830905767,0.026427183461094596,0.15588796316249412,0
2,MN306046,0.0014368022062834582,0.00019828351643380793,23.26972472104611,3.224092723815345e-08,6325157.325243613,487790.5398560699,0.14092737168559683,0.1409299562522148,4.128777177346697e-05,...,0.00019828351643380793,0.000501309902713316,23.269724688805184,0.019861252569251177,0.00042432008787242164,0.00021216004393621082,98.08404460216572,0.02636504197238705,0.15404783204439151,0
3,MF542265,0.0014371985749284555,0.00020113644481171958,23.267663985815602,1.0493096692775172e-09,6323644.826732281,486960.49275049334,0.14091230281745487,0.14091488701292754,4.19067590839401e-05,...,0.00020113644481171958,0.000506764236627061,23.267663984766294,0.019857005381866133,0.00042873713412343756,0.00021436856706171878,98.04650886497683,0.02631556163803515,0.15520794367753082,0
4,KY983587,0.0014436719412540156,0.00020047324006067195,23.252662258774315,1.1551650280077875e-08,6286977.722549186,484314.80584543286,0.14091479831021336,0.14091738596822148,4.2625315140063363e-05,...,0.00020047324006067195,0.0005069375400799103,23.252662247222666,0.019857709668116705,0.0004303295415619267,0.00021516477078096336,97.60860087632558,0.026467029356062412,0.15659705555864456,0
5,KY621348,0.0014471281779273803,0.00020217700110367393,23.1659643145454,4.629676539764439e-08,6251001.216047046,481149.2235709661,0.14062448402197317,0.14062707500823804,4.195062127259985e-05,...,0.00020217700110367393,0.000515908096394671,23.165964268248633,0.019775974225372604,0.0004390417849106747,0.00021952089245533735,97.17486409765009,0.02655905588878486,0.15934219485128107,0