In [1]:
import os
from os import path
import pandas as pd

In [2]:
base = path.join('..', 'processed', '1-covid')

files = sorted(f for f in os.listdir(base) if f.endswith('.csv'))

files

['chaos-game-theory_r1.csv',
 'chaos-game-theory_r4.csv',
 'complex-network-k3l10.csv',
 'fourier-class-r5.csv',
 'mapping-class_r1.csv',
 'mapping-class_r2.csv',
 'mathematical-anova.csv',
 'mathematical-representation.csv',
 'shannon-entropy-k12.csv']

In [3]:
%%time
index = 4

print(files[index])
frame = pd.read_csv(path.join(base,files[index]), header=None)

if frame.iloc[0,0] == "nameseq":
    frame.drop(labels=0, axis=0, inplace=True)

print(frame.shape)

frame.head()

mapping-class_r1.csv
(1717, 123274)
CPU times: user 8min 49s, sys: 19 s, total: 9min 8s
Wall time: 9min 1s

,0,1,2,3,4,5,6,7,8,9,...,123264,123265,123266,123267,123268,123269,123270,123271,123272,123273
0,MN369046,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,MN306046,0,0,0,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,MF542265,0,1,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,KY983587,0,0,0,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,KY621348,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [7]:
frame.info(max_cols=10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1717 entries, 0 to 1716
Columns: 123274 entries, 0 to 123273
dtypes: int64(123273), object(1)
memory usage: 1.6+ GB

In [11]:
# subtraindo 1 para o código identificador e 
# 1 coluna para especificar a qual classe pertente, temos:
(123274 - 2) / 4

30818.0

In [5]:
# help(frame.astype)

In [3]:
%%time
index = 5

print(files[index])
frame = pd.read_csv(path.join(base,files[index]), header=None)

if frame.iloc[0,0] == "nameseq":
    frame.drop(labels=0, axis=0, inplace=True)

print(frame.shape)

frame.head()

mapping-class_r2.csv
(1717, 30820)
CPU times: user 32.9 s, sys: 980 ms, total: 33.9 s
Wall time: 33.7 s

,0,1,2,3,4,5,6,7,8,9,...,30810,30811,30812,30813,30814,30815,30816,30817,30818,30819
0,MN369046,0.75,0.50,0.75,0.25,0.5,0.75,0.50,0.75,0.50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,MN306046,0.50,0.25,0.50,1.00,1.0,1.00,1.00,1.00,0.75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,MF542265,0.75,1.00,0.50,0.25,0.5,0.50,1.00,1.00,0.75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,KY983587,0.50,0.25,0.50,0.50,1.0,1.00,0.75,0.50,1.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,KY621348,0.50,0.50,0.75,1.00,0.5,0.75,0.25,0.50,1.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [4]:
(30820 - 2)

30818