In [1]:
import os
from os import path
import pandas as pd

In [2]:
base = path.join('..', 'processed', '1-covid')

files = sorted(f for f in os.listdir(base) if f.endswith('.csv'))

files

['chaos-game-theory_r1.csv',
 'chaos-game-theory_r4.csv',
 'complex-network-k3l10.csv',
 'fourier-class-r5.csv',
 'mapping-class_r1.csv',
 'mapping-class_r2.csv',
 'shannon-entropy-k12.csv']

In [3]:
select_k_features = 500

In [4]:
%%time

index = 5

print(files[index])
frame = pd.read_csv(path.join(base,files[index]), header=None)

if frame.iloc[0,0] == "nameseq":
    frame.drop(labels=0, axis=0, inplace=True)

print(frame.shape)

frame.head()

mapping-class_r2.csv
(1717, 30820)
CPU times: user 33.5 s, sys: 731 ms, total: 34.2 s
Wall time: 34.2 s

,0,1,2,3,4,5,6,7,8,9,...,30810,30811,30812,30813,30814,30815,30816,30817,30818,30819
0,MN369046,0.75,0.50,0.75,0.25,0.5,0.75,0.50,0.75,0.50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,MN306046,0.50,0.25,0.50,1.00,1.0,1.00,1.00,1.00,0.75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,MF542265,0.75,1.00,0.50,0.25,0.5,0.50,1.00,1.00,0.75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,KY983587,0.50,0.25,0.50,0.50,1.0,1.00,0.75,0.50,1.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,KY621348,0.50,0.50,0.75,1.00,0.5,0.75,0.25,0.50,1.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [5]:
frame.info(max_cols=10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1717 entries, 0 to 1716
Columns: 30820 entries, 0 to 30819
dtypes: float64(30818), int64(1), object(1)
memory usage: 403.7+ MB

In [6]:
(30820 - 2)

30818

In [7]:
# Feature selection with ANOVA
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import mutual_info_classif
from sklearn.feature_selection import f_classif

In [8]:
from collections import namedtuple
from operator import attrgetter

Feature = namedtuple('Feature', 'attr score')
get_key = attrgetter('score')

def feature_selection_anova(df, columns, target, k = 42, show=False, show_n=None):
    
    previsores = df[columns].values
    _target = df[target].values

    # Utilizando a função ANOVA
    test = SelectKBest(score_func=f_classif, k=k)
    fit = test.fit(previsores, _target)

    if show:
        if show_n is None:
            show_n = k

        scores = [ Feature(attr=name, score=score) for name, score in zip(columns, fit.scores_)]
        scores = sorted(scores, key=get_key, reverse=True)
        for i, score in enumerate(scores, start=1) :
            endline = '\t' if i % 4 else '\n'
            text = f"Feature {score.attr} : {score.score:.4f}"
            print(text.ljust(30), end=endline)
            if (show_n is not None) and i > show_n:
                break
        
    return fit

In [9]:
# Index from 0 to 30819

#     feature_selection_anova(df, columns, target, k = 42, show=False, show_n=None)
anova = feature_selection_anova(frame, range(1,30819), 30819, k = select_k_features, show=True)

Feature 29967 : 2576.4817     	Feature 29965 : 2531.1451     	Feature 29957 : 2486.4985     	Feature 29930 : 2480.9900
Feature 29947 : 2466.9201     	Feature 29943 : 2446.6938     	Feature 29960 : 2446.0063     	Feature 29922 : 2436.7788
Feature 29962 : 2426.6704     	Feature 29973 : 2410.6630     	Feature 29978 : 2393.9688     	Feature 29981 : 2390.4800
Feature 29946 : 2386.7837     	Feature 29954 : 2369.3796     	Feature 29975 : 2365.8564     	Feature 29980 : 2357.3292
Feature 29968 : 2354.9033     	Feature 29963 : 2331.8147     	Feature 29956 : 2306.4322     	Feature 29972 : 2304.9442
Feature 29940 : 2304.7978     	Feature 29991 : 2302.4407     	Feature 29952 : 2297.3847     	Feature 30045 : 2286.0376
Feature 29984 : 2283.6794     	Feature 29995 : 2279.7795     	Feature 29997 : 2275.5506     	Feature 29951 : 2274.1304
Feature 29969 : 2271.2361     	Feature 29923 : 2270.5683     	Feature 29964 : 2268.5788     	Feature 29958 : 2264.1530
Feature 29921 : 2262.7438     	Feature 29935 : 2262.5399     	Feature 29983 : 2251.5060     	Feature 29959 : 2243.1391
Feature 29927 : 2233.2223     	Feature 29941 : 2232.7956     	Feature 30033 : 2212.6289     	Feature 30065 : 2212.0562
Feature 29936 : 2195.2210     	Feature 30036 : 2193.1689     	Feature 30046 : 2192.3934     	Feature 29917 : 2189.6853
Feature 29919 : 2186.8784     	Feature 29945 : 2176.4892     	Feature 29994 : 2166.0718     	Feature 29961 : 2165.9969
Feature 29944 : 2153.3501     	Feature 30042 : 2152.9962     	Feature 30002 : 2138.1248     	Feature 30035 : 2136.5774
Feature 29987 : 2130.6884     	Feature 29937 : 2120.2731     	Feature 29942 : 2118.6434     	Feature 30061 : 2118.2720
Feature 29924 : 2116.3440     	Feature 29966 : 2113.0213     	Feature 29986 : 2106.5595     	Feature 30038 : 2098.6691
Feature 30014 : 2089.4496     	Feature 30016 : 2086.5818     	Feature 30052 : 2080.3283     	Feature 29938 : 2076.3757
Feature 29989 : 2072.3102     	Feature 29970 : 2069.6031     	Feature 30054 : 2067.9483     	Feature 30048 : 2061.5347
Feature 29925 : 2045.6605     	Feature 30021 : 2043.7326     	Feature 30083 : 2037.7273     	Feature 29988 : 2035.3713
Feature 30062 : 2033.9491     	Feature 30071 : 2027.3412     	Feature 30078 : 2025.4453     	Feature 30057 : 2019.2599
Feature 29993 : 2018.8127     	Feature 29939 : 2016.4322     	Feature 29929 : 2000.1664     	Feature 30013 : 1999.6375
Feature 30018 : 1981.2109     	Feature 30067 : 1971.9026     	Feature 30060 : 1970.1398     	Feature 30040 : 1969.2858
Feature 30011 : 1954.3748     	Feature 30049 : 1951.5155     	Feature 30051 : 1945.9792     	Feature 29916 : 1942.9940
Feature 30056 : 1934.0511     	Feature 30072 : 1932.8725     	Feature 30010 : 1932.3049     	Feature 30059 : 1920.1184
Feature 30079 : 1913.6696     	Feature 29985 : 1913.1612     	Feature 29976 : 1913.1188     	Feature 30075 : 1911.4349
Feature 30031 : 1906.5523     	Feature 30053 : 1901.9913     	Feature 29971 : 1897.9568     	Feature 30050 : 1887.9660
Feature 29928 : 1874.0255     	Feature 30096 : 1873.8508     	Feature 30066 : 1872.1028     	Feature 30024 : 1868.7204
Feature 29982 : 1859.0285     	Feature 29914 : 1838.9535     	Feature 30023 : 1836.0721     	Feature 29950 : 1827.2841
Feature 30043 : 1825.6454     	Feature 30044 : 1817.7313     	Feature 29955 : 1809.3438     	Feature 30000 : 1807.2041
Feature 30029 : 1796.8845     	Feature 30064 : 1793.3419     	Feature 29953 : 1793.3242     	Feature 29979 : 1782.6726
Feature 30032 : 1777.2864     	Feature 30076 : 1775.8955     	Feature 30037 : 1771.7656     	Feature 30006 : 1771.5697
Feature 29932 : 1768.0146     	Feature 29933 : 1765.8033     	Feature 30007 : 1763.0481     	Feature 29977 : 1762.8627
Feature 29918 : 1759.5167     	Feature 30055 : 1757.3054     	Feature 30005 : 1753.4736     	Feature 30080 : 1752.2259
Feature 30095 : 1748.5342     	Feature 30025 : 1746.5362     	Feature 30082 : 1743.7020     	Feature 29908 : 1742.6626
Feature 30093 : 1739.5065     	Feature 30009 : 1738.4623     	Feature 30089 : 1734.1278     	Feature 30086 : 1733.4832
Feature 29920 : 1732.8748     	Feature 30092 : 1731.5340     	Feature 30063 : 1731.5219     	Feature 30085 : 1731.4340
Feature 30027 : 1729.6071     	Feature 30015 : 1727.8646     	Feature 30047 : 1720.4963     	Feature 30017 : 1719.4565
Feature 29931 : 1711.9448     	Feature 29974 : 1704.5643     	Feature 30087 : 1703.3902     	Feature 30022 : 1702.6155
Feature 29990 : 1695.4839     	Feature 30088 : 1690.1159     	Feature 30094 : 1684.3829     	Feature 30068 : 1674.3704
Feature 29934 : 1668.0907     	Feature 30034 : 1664.8982     	Feature 29926 : 1657.9524     	Feature 30069 : 1648.8985
Feature 30012 : 1643.4905     	Feature 29949 : 1640.2031     	Feature 30058 : 1639.8863     	Feature 30070 : 1631.4685
Feature 29909 : 1627.3544     	Feature 30003 : 1624.3727     	Feature 29996 : 1617.0920     	Feature 30039 : 1607.4334
Feature 30073 : 1607.1129     	Feature 30074 : 1603.4447     	Feature 30081 : 1601.8631     	Feature 30028 : 1582.5704
Feature 30041 : 1574.6736     	Feature 29948 : 1562.6470     	Feature 30020 : 1507.3234     	Feature 29906 : 1502.9816
Feature 29911 : 1497.5336     	Feature 30030 : 1476.5104     	Feature 30084 : 1475.5182     	Feature 29913 : 1473.1918
Feature 30026 : 1461.0013     	Feature 30001 : 1459.2847     	Feature 30077 : 1441.8531     	Feature 30091 : 1439.4136
Feature 29912 : 1436.7473     	Feature 29915 : 1386.8307     	Feature 29907 : 1384.9436     	Feature 30008 : 1373.2286
Feature 30019 : 1363.5260     	Feature 29905 : 1362.8421     	Feature 29992 : 1353.7390     	Feature 29999 : 1342.9207
Feature 30090 : 1336.5262     	Feature 30004 : 1276.3035     	Feature 29998 : 1276.1848     	Feature 29904 : 1223.2766
Feature 30105 : 1092.7390     	Feature 30102 : 1062.0578     	Feature 29910 : 1047.3441     	Feature 30107 : 1036.3150
Feature 30101 : 1013.5636     	Feature 30113 : 1006.0001     	Feature 30097 : 985.3377      	Feature 30112 : 969.5956
Feature 30098 : 964.4749      	Feature 30115 : 958.1685      	Feature 30103 : 957.5463      	Feature 30110 : 955.6445
Feature 30116 : 943.5321      	Feature 30114 : 935.1259      	Feature 30118 : 919.9086      	Feature 30117 : 918.5286
Feature 30104 : 889.6316      	Feature 30100 : 885.5699      	Feature 30109 : 863.2322      	Feature 30099 : 848.7420
Feature 30108 : 844.1166      	Feature 30106 : 836.1431      	Feature 30111 : 823.4081      	Feature 1630 : 818.7411
Feature 30120 : 739.2963      	Feature 30119 : 719.4042      	Feature 28900 : 712.1353      	Feature 30122 : 660.6287
Feature 30121 : 629.6405      	Feature 28537 : 627.0870      	Feature 30123 : 623.4522      	Feature 28024 : 620.8973
Feature 29558 : 603.4744      	Feature 22799 : 593.7626      	Feature 3921 : 586.1582       	Feature 6481 : 572.1114
Feature 29388 : 569.8238      	Feature 29903 : 556.0419      	Feature 8533 : 554.5542       	Feature 28271 : 553.6324
Feature 30277 : 545.4053      	Feature 30283 : 543.8245      	Feature 30346 : 543.6775      	Feature 30194 : 542.8015
Feature 30295 : 542.5445      	Feature 30290 : 542.0802      	Feature 30210 : 540.4922      	Feature 30213 : 538.4216
Feature 30286 : 536.5280      	Feature 30160 : 535.7311      	Feature 30531 : 535.2092      	Feature 30271 : 535.0654
Feature 30502 : 534.1000      	Feature 30353 : 532.8340      	Feature 30131 : 531.4011      	Feature 30192 : 531.2492
Feature 30177 : 530.1160      	Feature 30298 : 528.6232      	Feature 30260 : 528.4237      	Feature 30180 : 528.0025
Feature 30505 : 527.8731      	Feature 30183 : 527.8673      	Feature 30521 : 527.8590      	Feature 30287 : 527.8452
Feature 30197 : 527.7637      	Feature 30280 : 527.6737      	Feature 30126 : 527.6286      	Feature 30229 : 527.3985
Feature 30530 : 527.3509      	Feature 30186 : 527.0919      	Feature 30519 : 527.0859      	Feature 30236 : 526.3470
Feature 30560 : 526.3053      	Feature 30373 : 526.1192      	Feature 28557 : 525.6029      	Feature 30538 : 525.2913
Feature 30136 : 525.2898      	Feature 30366 : 524.9158      	Feature 30541 : 524.3443      	Feature 30278 : 524.3062
Feature 30522 : 524.2070      	Feature 30142 : 524.1111      	Feature 30338 : 524.0936      	Feature 30356 : 523.6928
Feature 1717 : 523.3741       	Feature 30289 : 522.9352      	Feature 30409 : 522.8822      	Feature 30306 : 522.7692
Feature 30486 : 522.6940      	Feature 30202 : 522.6797      	Feature 30284 : 522.3109      	Feature 30417 : 522.0912
Feature 30441 : 521.9532      	Feature 30516 : 521.4496      	Feature 30292 : 521.3353      	Feature 30526 : 521.3209
Feature 30564 : 520.0495      	Feature 30268 : 519.8316      	Feature 30527 : 519.8116      	Feature 30525 : 519.6038
Feature 30535 : 519.5506      	Feature 30191 : 519.2198      	Feature 30545 : 519.1358      	Feature 30340 : 518.9786
Feature 30324 : 518.8324      	Feature 30232 : 517.9155      	Feature 30411 : 517.6000      	Feature 30537 : 517.4689
Feature 30362 : 517.4664      	Feature 30328 : 517.3580      	Feature 30227 : 517.2572      	Feature 30144 : 517.1564
Feature 30301 : 517.0181      	Feature 30297 : 516.4462      	Feature 30226 : 516.3437      	Feature 30293 : 516.2625
Feature 30141 : 516.0278      	Feature 30312 : 515.8286      	Feature 30458 : 515.7720      	Feature 30217 : 515.6972
Feature 30408 : 515.6559      	Feature 30240 : 514.9002      	Feature 30314 : 514.5737      	Feature 30221 : 514.4906
Feature 30553 : 514.4719      	Feature 30430 : 514.4039      	Feature 30178 : 513.6473      	Feature 30394 : 513.4681
Feature 30395 : 513.1683      	Feature 30390 : 512.9455      	Feature 30139 : 512.8302      	Feature 30428 : 512.6206
Feature 30279 : 512.6197      	Feature 30128 : 512.4202      	Feature 30454 : 511.8260      	Feature 30179 : 511.7805
Feature 30444 : 511.6413      	Feature 1871 : 511.6118       	Feature 30246 : 511.3945      	Feature 30457 : 511.3365
Feature 30557 : 511.0476      	Feature 30282 : 510.2320      	Feature 30209 : 509.4441      	Feature 30345 : 509.1940
Feature 30471 : 508.8537      	Feature 30150 : 508.3603      	Feature 30300 : 508.3603      	Feature 30434 : 508.2413
Feature 30352 : 508.2208      	Feature 30369 : 508.0273      	Feature 30291 : 507.6057      	Feature 30294 : 507.5263
Feature 30343 : 507.4338      	Feature 30389 : 507.3605      	Feature 30201 : 506.5002      	Feature 30372 : 506.3453
Feature 30220 : 506.1724      	Feature 30344 : 505.8020      	Feature 20747 : 505.7513      	Feature 6415 : 505.7384
Feature 30534 : 505.7279      	Feature 30266 : 505.5594      	Feature 30159 : 505.4955      	Feature 30199 : 505.3236
Feature 30407 : 505.2539      	Feature 30334 : 505.1845      	Feature 30549 : 505.1845      	Feature 30265 : 505.0241
Feature 30337 : 504.8002      	Feature 30335 : 504.4193      	Feature 30563 : 504.3531      	Feature 30544 : 504.2934
Feature 30499 : 504.2611      	Feature 30569 : 504.1988      	Feature 30243 : 504.0550      	Feature 30426 : 504.0209
Feature 30513 : 503.8346      	Feature 30269 : 503.6459      	Feature 30272 : 503.5464      	Feature 30558 : 503.3655
Feature 30317 : 503.2478      	Feature 30445 : 503.1649      	Feature 30473 : 503.1175      	Feature 30518 : 503.1115
Feature 30355 : 502.5100      	Feature 30510 : 502.3432      	Feature 30234 : 502.2196      	Feature 30529 : 502.1218
Feature 30542 : 502.0612      	Feature 30391 : 501.9401      	Feature 30506 : 501.8617      	Feature 30241 : 501.8265
Feature 30483 : 501.7498      	Feature 30482 : 501.6219      	Feature 30315 : 501.3674      	Feature 30198 : 501.0753
Feature 30379 : 500.8476      	Feature 30433 : 500.5676      	Feature 30429 : 500.3739      	Feature 30393 : 500.2718
Feature 30479 : 500.0795      	Feature 30383 : 500.0415      	Feature 30127 : 499.6077      	Feature 30349 : 499.3357
Feature 30550 : 499.2520      	Feature 30552 : 498.8670      	Feature 30341 : 498.7769      	Feature 30447 : 498.3130
Feature 30252 : 498.0505      	Feature 30288 : 497.8424      	Feature 30133 : 497.8062      	Feature 30540 : 497.5461
Feature 30547 : 497.4338      	Feature 30556 : 497.2163      	Feature 30348 : 497.1144      	Feature 30189 : 497.0227
Feature 30431 : 496.9214      	Feature 30365 : 496.9129      	Feature 30363 : 496.8779      	Feature 30161 : 496.7984
Feature 30331 : 496.7078      	Feature 30304 : 496.2448      	Feature 30296 : 495.7992      	Feature 30303 : 495.5408
Feature 30237 : 495.4160      	Feature 30276 : 495.1126      	Feature 30156 : 495.0347      	Feature 30224 : 495.0097
Feature 30508 : 495.0081      	Feature 30151 : 494.9920      	Feature 30216 : 494.8541      	Feature 30190 : 494.8497
Feature 30561 : 494.6621      	Feature 12729 : 494.6547      	Feature 30188 : 494.6504      	Feature 30472 : 494.2951
Feature 30162 : 494.2077      	Feature 30254 : 493.5932      	Feature 30554 : 493.4978      	Feature 30571 : 493.1546
Feature 30418 : 492.9902      	Feature 28274 : 492.8241      	Feature 30196 : 492.7686      	Feature 30477 : 492.7556
Feature 30376 : 492.5650      	Feature 30299 : 492.5453      	Feature 23919 : 492.5233      	Feature 30130 : 492.4540
Feature 28018 : 492.3744      	Feature 30281 : 492.3722      	Feature 30332 : 492.3432      	Feature 30321 : 492.1864
Feature 30523 : 492.0798      	Feature 30427 : 492.0125      	Feature 30515 : 491.7057      	Feature 30422 : 491.4143
Feature 30200 : 491.3706      	Feature 30568 : 491.2345      	Feature 30354 : 491.1037      	Feature 30330 : 490.9328
Feature 30562 : 490.8619      	Feature 30125 : 490.7602      	Feature 30206 : 490.6846      	Feature 30351 : 490.0817
Feature 30497 : 489.8867      	Feature 30223 : 489.8249      	Feature 30157 : 489.6657      	Feature 30124 : 489.2665
Feature 1206 : 489.0807       	Feature 30524 : 489.0183      	Feature 30257 : 488.9925      	Feature 30149 : 488.9723
Feature 21862 : 488.8720      	Feature 30251 : 488.8399      	Feature 30406 : 488.1701      	Feature 30382 : 488.0537
Feature 30509 : 487.8872      	Feature 30419 : 487.7708      	Feature 28027 : 487.6654      	Feature 30228 : 487.5423
Feature 30263 : 487.2872      	Feature 30528 : 487.1905      	Feature 30164 : 487.1523      	Feature 30205 : 487.1248
Feature 30231 : 486.8290      	Feature 30184 : 486.7993      	Feature 30432 : 486.1667      	Feature 30440 : 485.5887
Feature 30168 : 485.5885      	Feature 30512 : 485.5885      	Feature 30414 : 485.5728      	Feature 30574 : 485.5293
Feature 30559 : 485.3799      	Feature 30230 : 485.2604      	Feature 30137 : 485.1633      	Feature 30468 : 485.1467
Feature 30420 : 484.9852      	Feature 30275 : 484.6559      	Feature 30501 : 484.5836      	Feature 30359 : 484.4548
Feature 30405 : 484.2342      	Feature 30342 : 484.0888      	Feature 30536 : 483.9482      	Feature 30153 : 483.8830
Feature 30323 : 483.7707      	Feature 30207 : 483.5545      	Feature 30155 : 483.4362      	Feature 30548 : 483.3553
Feature 30203 : 483.3349

In [10]:
frame.iloc[:5, 1:30819]

,1,2,3,4,5,6,7,8,9,10,...,30809,30810,30811,30812,30813,30814,30815,30816,30817,30818
0,0.75,0.50,0.75,0.25,0.5,0.75,0.50,0.75,0.50,0.75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.50,0.25,0.50,1.00,1.0,1.00,1.00,1.00,0.75,0.25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.75,1.00,0.50,0.25,0.5,0.50,1.00,1.00,0.75,0.50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.50,0.25,0.50,0.50,1.0,1.00,0.75,0.50,1.00,0.25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.50,0.50,0.75,1.00,0.5,0.75,0.25,0.50,1.00,0.75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
frame.iloc[:5,30819]

0    0
1    0
2    0
3    0
4    0
Name: 30819, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

X, X_teste, y, y_teste = train_test_split( frame.iloc[:, 1:30819],
                                           frame.iloc[:, 30819], 
                                           train_size=0.7, 
                                           test_size=0.3)

In [13]:
from sklearn.ensemble import GradientBoostingClassifier

model = GradientBoostingClassifier(n_estimators=400, learning_rate=3.0, max_depth=1, random_state=63)

In [14]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_validate

from sklearn.metrics import cohen_kappa_score, make_scorer
from imblearn.metrics import geometric_mean_score

In [15]:
%%time

pipe = Pipeline(steps=[
        ('SelectBest', SelectKBest(score_func=f_classif, k=select_k_features)),
		('MinMaxScaler', MinMaxScaler(feature_range=(0, 1))),
		('ClassificationModel', model)
        ])

scoring = {'ACC': 'accuracy', 
            'recall': 'recall', 
            'f1': 'f1', 
            'roc_auc': 'roc_auc', 
            'ACC_B': 'balanced_accuracy', 
            'kappa': make_scorer(cohen_kappa_score), 
            'gmean': make_scorer(geometric_mean_score)
        }

kfold = KFold(n_splits=10, shuffle=True, random_state=42)

scores = cross_validate(pipe, X, y, cv=kfold, scoring=scoring)

CPU times: user 26.2 s, sys: 1.72 s, total: 27.9 s
Wall time: 27.9 s

In [16]:
scores

{'fit_time': array([2.43370867, 2.40033102, 2.42511368, 2.43390465, 2.48236084,
        2.496382  , 2.39783454, 2.5015626 , 2.47707295, 2.38794017]),
 'score_time': array([0.34739017, 0.33847427, 0.33947825, 0.33899999, 0.34041786,
        0.34658241, 0.36077666, 0.36186886, 0.33741546, 0.33985162]),
 'test_ACC': array([0.9338843 , 0.8       , 0.76666667, 0.94166667, 0.73333333,
        0.94166667, 0.725     , 0.83333333, 0.85833333, 0.76666667]),
 'test_recall': array([1.        , 1.        , 1.        , 1.        , 1.        ,
        0.96226415, 1.        , 0.94252874, 1.        , 1.        ]),
 'test_f1': array([0.95833333, 0.88888889, 0.86792453, 0.96373057, 0.84615385,
        0.96682464, 0.84057971, 0.89130435, 0.91457286, 0.86792453]),
 'test_roc_auc': array([0.75787106, 0.84027778, 0.93944099, 0.80207089, 0.15625   ,
        0.9059973 , 0.65604319, 0.93312435, 0.53486169, 0.49514752]),
 'test_ACC_B': array([0.86206897, 0.5       , 0.5       , 0.87037037, 0.5       ,
        0.87398922, 0.5       , 0.74399164, 0.70689655, 0.5       ]),
 'test_kappa': array([0.79966887, 0.        , 0.        , 0.81578947, 0.        ,
        0.7254902 , 0.        , 0.53863899, 0.51704545, 0.        ]),
 'test_gmean': array([0.85096294, 0.        , 0.        , 0.86066297, 0.        ,
        0.8695198 , 0.        , 0.71701226, 0.64326752, 0.        ])}